![seoul and the Han river](./img/seoul.jpg)

![Asia Top Rank](./img/Asia_chart.png)

Have you been to Seoul, the heart of South Korea? It is a wonderful city until you decide to buy your own living space. As we can see above, it is widely known that Seoul's apartments price is infamous and it keeps surging amid the unprecedented COVID-19 outbreak. According to the Hankyung News, the most expensive apartment, "Hannam the Hill", records its real price at \\$6,249,522 (= 7,300,000,000 won), whose price per $m^2$ reaches \\$26,040. (source: https://www.eca-international.com/news/april-2020/taipei-enters-the-top-50-most-expensive-cities-in_/ http://www.hani.co.kr/arti/economy/property/957824.html)

Today, our goal is to predict the apartment located at Seoul considering its address, completion year, transaction date, floor, and surrounding facilities such as child day care centers or parks.

#### Env Setting & Data Import

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
pd.set_option('display.float_format', lambda x: '%.2f' % x)

# import datasets
train = pd.read_csv('./input/train.csv')
day_care_center = pd.read_csv('./input/day_care_center.csv')
park = pd.read_csv('./input/park.csv')
test = pd.read_csv('./input/test.csv')

## Data Exploration

##### (1) train

In [2]:
# (1) train
train.head()

,transaction_id,apartment_id,city,dong,jibun,apt,addr_kr,exclusive_use_area,year_of_completion,transaction_year_month,transaction_date,floor,transaction_real_price
0,0,7622,서울특별시,신교동,6-13,신현(101동),신교동 6-13 신현(101동),84.82,2002,200801,21~31,2,37500
1,1,5399,서울특별시,필운동,142,사직파크맨션,필운동 142 사직파크맨션,99.17,1973,200801,1~10,6,20000
2,2,3578,서울특별시,필운동,174-1,두레엘리시안,필운동 174-1 두레엘리시안,84.74,2007,200801,1~10,6,38500
3,3,10957,서울특별시,내수동,95,파크팰리스,내수동 95 파크팰리스,146.39,2003,200801,11~20,15,118000
4,4,10639,서울특별시,내수동,110-15,킹스매너,내수동 110-15 킹스매너,194.43,2004,200801,21~31,3,120000

In [3]:
# check data types
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1216553 entries, 0 to 1216552
Data columns (total 13 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   transaction_id          1216553 non-null  int64
 1   apartment_id            1216553 non-null  int64
 2   city                    1216553 non-null  object
 3   dong                    1216553 non-null  object
 4   jibun                   1216553 non-null  object
 5   apt                     1216553 non-null  object
 6   addr_kr                 1216553 non-null  object
 7   exclusive_use_area      1216553 non-null  float64
 8   year_of_completion      1216553 non-null  int64
 9   transaction_year_month  1216553 non-null  int64
 10  transaction_date        1216553 non-null  object
 11  floor                   1216553 non-null  int64
 12  transaction_real_price  1216553 non-null  int64
dtypes: float64(1), int64(6), object(6)
memory usage: 120.7+ MB

In [4]:
# check missing values
train.isnull().sum()

transaction_id            0
apartment_id              0
city                      0
dong                      0
jibun                     0
apt                       0
addr_kr                   0
exclusive_use_area        0
year_of_completion        0
transaction_year_month    0
transaction_date          0
floor                     0
transaction_real_price    0
dtype: int64

In [5]:
# check descriptive statistics
train.describe()

,transaction_id,apartment_id,exclusive_use_area,year_of_completion,transaction_year_month,floor,transaction_real_price
count,1216553.00,1216553.00,1216553.00,1216553.00,1216553.00,1216553.00,1216553.00
mean,609153.00,6299.68,78.17,1998.30,201298.44,9.34,38227.69
std,352619.83,3581.17,29.15,8.94,290.57,6.61,31048.98
min,0.00,0.00,9.26,1961.00,200801.00,-4.00,100.00
25%,304138.00,3345.00,59.76,1993.00,201010.00,4.00,19000.00
50%,608276.00,5964.00,82.41,1999.00,201312.00,8.00,30900.00
75%,912414.00,9436.00,84.97,2005.00,201511.00,13.00,47000.00
max,1234827.00,12658.00,424.32,2017.00,201711.00,80.00,820000.00

In [6]:
# check the start and the end date
print('Date ranges from {} to {}'.format(min(train['transaction_year_month']),max(train['transaction_year_month'])))

Date ranges from 200801 to 201711

**Things to needed to be done later - TRAIN** <br>
1. Can 'floor' be minus? It is not totally weird to find the second basement level in apartments in South Korea. Yet is it possible to have the fourth basement level unless it is not a parking lot? (Yes, we do have a parking lot at the basement level.) Need to check up.
2. Need to split 'transaction_year_month' to year and month columns respectively.
3. Need to categorize transaction_date 
4. Need to proceed one-hot encoding on 'city', 'dong', 'apt', 'year', 'month', 'date'.
5. Cutting out outliers

#### (2) test

In [7]:
test.head()

,transaction_id,apartment_id,city,dong,jibun,apt,addr_kr,exclusive_use_area,year_of_completion,transaction_year_month,transaction_date,floor
0,1145756,10453,서울특별시,목동,938,청학,목동 938 청학,35.55,2002,201711,11~20,2
1,1198704,989,부산광역시,초량동,1143-8,고관맨션,초량동 1143-8 고관맨션,68.72,1977,201708,21~31,2
2,1222384,8597,부산광역시,괴정동,447-13,우림그린,괴정동 447-13 우림그린,72.54,1989,201710,11~20,2
3,1179897,11086,서울특별시,대치동,1007-2,풍림아이원4차(1007-2),대치동 1007-2 풍림아이원4차(1007-2),111.54,2004,201707,1~10,10
4,1223091,2121,부산광역시,다대동,1670,다대롯데캐슬블루,다대동 1670 다대롯데캐슬블루,119.64,2014,201712,11~20,21

In [8]:
# data type
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5463 entries, 0 to 5462
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   transaction_id          5463 non-null   int64
 1   apartment_id            5463 non-null   int64
 2   city                    5463 non-null   object
 3   dong                    5463 non-null   object
 4   jibun                   5463 non-null   object
 5   apt                     5463 non-null   object
 6   addr_kr                 5463 non-null   object
 7   exclusive_use_area      5463 non-null   float64
 8   year_of_completion      5463 non-null   int64
 9   transaction_year_month  5463 non-null   int64
 10  transaction_date        5463 non-null   object
 11  floor                   5463 non-null   int64
dtypes: float64(1), int64(5), object(6)
memory usage: 512.3+ KB

**Things to needed to be done later - TEST** <br>
1. Same data without the target variable, transaction real price. 
2. Do the same things as above.

#### (3) Day Care Center

In [9]:
day_care_center.head()

,city,gu,day_care_name,day_care_type,day_care_baby_num,teacher_num,nursing_room_num,playground_num,CCTV_num,is_commuting_vehicle,reference_date
0,서울특별시,서대문구,가람어린이집,국공립,70,11.00,5.00,1.00,7.00,N,2018-07-31
1,서울특별시,서대문구,가좌제일어린이집,국공립,88,22.00,5.00,2.00,10.00,N,2018-07-31
2,서울특별시,서대문구,경찰청어린이집,직장,90,23.00,6.00,1.00,32.00,N,2018-07-31
3,서울특별시,서대문구,고운햇살어린이집,가정,18,5.00,3.00,0.00,4.00,N,2018-07-31
4,서울특별시,서대문구,고은어린이집,국공립,93,20.00,7.00,2.00,10.00,N,2018-07-31

In [10]:
# data type
day_care_center.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7551 entries, 0 to 7550
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   city                  7551 non-null   object
 1   gu                    7551 non-null   object
 2   day_care_name         7551 non-null   object
 3   day_care_type         7551 non-null   object
 4   day_care_baby_num     7551 non-null   int64
 5   teacher_num           7326 non-null   float64
 6   nursing_room_num      4352 non-null   float64
 7   playground_num        3626 non-null   float64
 8   CCTV_num              5280 non-null   float64
 9   is_commuting_vehicle  7055 non-null   object
 10  reference_date        7551 non-null   object
dtypes: float64(4), int64(1), object(6)
memory usage: 649.0+ KB

In [11]:
# descriptive statistics
day_care_center.describe()

,day_care_baby_num,teacher_num,nursing_room_num,playground_num,CCTV_num
count,7551.00,7326.00,4352.00,3626.00,5280.00
mean,44.40,9.01,4.53,0.40,6.68
std,37.02,5.81,2.08,0.73,4.48
min,5.00,0.00,0.00,0.00,0.00
25%,19.00,6.00,3.00,0.00,4.00
50%,29.00,7.00,4.00,0.00,5.00
75%,60.00,11.00,5.00,1.00,8.00
max,489.00,98.00,22.00,16.00,53.00

In [12]:
# missing values
day_care_center.isnull().sum().sort_values(ascending=False).head(5)

playground_num          3925
nursing_room_num        3199
CCTV_num                2271
is_commuting_vehicle     496
teacher_num              225
dtype: int64

In [13]:
# day care center type
day_care_center['day_care_type'].value_counts()

가정        3120
민간        2492
국공립       1408
직장         272
법인·단체      113
사회복지법인     107
협동          39
Name: day_care_type, dtype: int64

**Things to needed to be done later - Day Care Center** <br>
1. Create a new column 'day care babies per teacher' by dividing day_care_babies by day_care_teachers and drop two columns.
2. Do One-hot encodings on columns.
3. Create a new column 'unit number of day care center' by dividing total number of day care centers in each gu by corresponding gu area. Will concat this column to other datasets later.
4. Convert columns to the correct data types.

#### (4) Park

In [14]:
park.head()

,city,gu,dong,park_name,park_type,park_area,park_exercise_facility,park_entertainment_facility,park_benefit_facility,park_cultural_facitiy,park_facility_other,park_open_year,reference_date
0,부산광역시,남구,대연동,대연공원,근린공원,55227.00,NaN,NaN,NaN,NaN,NaN,1944.00,2018-08-14
1,부산광역시,남구,대연동,당곡공원,역사공원,75465.00,NaN,NaN,NaN,NaN,NaN,1944.00,2018-08-14
2,부산광역시,남구,대연동,대일어린이공원,어린이공원,422.10,NaN,NaN,NaN,NaN,NaN,1965.00,2018-08-14
3,부산광역시,남구,대연동,못골어린이공원,어린이공원,499.80,NaN,NaN,NaN,NaN,NaN,1968.00,2018-08-14
4,부산광역시,남구,용호동,솔밭어린이공원,어린이공원,1500.20,NaN,NaN,NaN,NaN,NaN,1970.00,2018-08-14

In [15]:
# data type
park.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1359 entries, 0 to 1358
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   city                         1359 non-null   object
 1   gu                           1356 non-null   object
 2   dong                         1359 non-null   object
 3   park_name                    1359 non-null   object
 4   park_type                    1359 non-null   object
 5   park_area                    1359 non-null   float64
 6   park_exercise_facility       277 non-null    object
 7   park_entertainment_facility  435 non-null    object
 8   park_benefit_facility        266 non-null    object
 9   park_cultural_facitiy        72 non-null     object
 10  park_facility_other          175 non-null    object
 11  park_open_year               937 non-null    float64
 12  reference_date               1359 non-null   object
dtypes: float64(2), object(11)
memory usage: 138.1+ KB

In [16]:
# missing values
park.isnull().sum().sort_values(ascending=False)

park_cultural_facitiy          1287
park_facility_other            1184
park_benefit_facility          1093
park_exercise_facility         1082
park_entertainment_facility     924
park_open_year                  422
gu                                3
reference_date                    0
park_area                         0
park_type                         0
park_name                         0
dong                              0
city                              0
dtype: int64

In [17]:
# descriptive statistics
park.describe()

       park_area  park_open_year
count    1359.00          937.00
mean    58862.55         1990.15
std    386805.21           17.66
min        22.00         1938.00
25%      1050.25         1977.00
50%      1680.00         1992.00
75%      6609.60         2006.00
max   6692795.00         2018.00

In [18]:
# check missing values - park_cultural_facility
park.park_cultural_facitiy.unique()

array([nan, '문화회관', '무대', '청소년수련원', '홍릉수목원', '도서관', '독서실', '정보화도서관',
       '야외공연장', '없음', '야외무대 장기바둑쉼터 놀이마당',
       '"도서관, 기념비, 충혼탑, 장건상동상, 대한해협전승비, 자연보호헌장, 시민헌장, 충무공이순신영묘비, 노인헌장비, 구덕민속예술관및놀이마당, 기념관, 광복기념관, 청소년수련시설, 최천택기념비, 민주공원표지석, 중앙공원 표지석, 6·25호국유공자기념비, 사적시설, 생태학습원"',
       '"동물원시설, 어린이회관, 학생수련회야영장, 반공전시관, 전시관, 위인탑, 교육문화회관, 박재혁동상, 헌칠학병기념비, 이수현추모비, 어린이교통안전교육장, 부산항일학생의거기념비, 정상구시비, 고태국음악비, 금연테마동산, 상징조형물, 생태학습장, 숲체험학습센터, 소녀상, 6.25참전용사기념비, 100대 명수 기념비"',
       '"해양자연사박물관, 도서관, 민속예술관, 고분, 기념비및사적, 소방안전체험관, 박물관, 어린이직업체험관"',
       '야외무대1', '기타4', '"문화회관1, 야외음악당1"', '기타1', '"문화회관2, 야외음악당1, 기타3"',
       '도서관1', '기타23', '기타2', '"도서관1, 금암기적비1"', '"동상1, 탑기념비2"',
       '야외음악당 1개소', '문화회관 1개소',
       '"독립관 1동, 3.1운동기념탑 1기, 순국선열추념탑 1기, 독립문 1기, 서재필동상 1기, 독립문이전비 1기, 정보도서관 1동"',
       '-', '충렬사', '구덕민속예술관', '미조성', '동상, 탑기념비', '도서관 1개소, 문화회관 1개소',
       '도서관 1개소'], dtype=object)

**Things to needed to be done later - PARK** <br>
1. Need to fill three missing gu. 
2. Need to deal with missing values in each column
3. Do One-hot encodings on columns.
4. Convert columns to the correct data types. 
5. Cutting out outliers

## Feature Engineering 

#### (1) train and test

In [19]:
# 1. Can 'floor' be minus or 80?
# total 170 observations in a merged dataset. 
merged_df = train.drop('transaction_real_price',axis=1).append(test)
merged_df[merged_df['floor']<0]['floor'].value_counts()

-1    142
-2     17
-3      7
-4      4
Name: floor, dtype: int64

In [20]:
print('# of rows with -1 levels: {}'.format(merged_df[merged_df['floor']==-1]['floor'].count()))
pd.DataFrame(merged_df[merged_df['floor']==-1]['apt'].unique(), columns=['apt_name'])

# of rows with -1 levels: 142

      apt_name
0        렉스팰리스
1   도시그린빌라트18차
2      (1-102)
3           우석
4           유정
..         ...
71       동부썬빌라
72      태평양프린스
73        한강빌라
74          강변
75         신서면

[76 rows x 1 columns]

![minus one](./img/example1.jpg)

In [21]:
print('# of rows with -2 levels: {}'.format(merged_df[merged_df['floor']==-2]['floor'].count()))
pd.DataFrame(merged_df[merged_df['floor']==-2]['apt'].unique(), columns=['apt_name'])

# of rows with -2 levels: 17

             apt_name
0                한남더힐
1  은평뉴타운 우물골(두산위브7단지)
2           천왕연지타운2단지
3                동광맨션

![minus two](./img/example2.jpg)

In [22]:
print('# of rows with -3 levels: {}'.format(merged_df[merged_df['floor']==-3]['floor'].count()))
pd.DataFrame(merged_df[merged_df['floor']==-3]['apt'].unique(), columns=['apt_name'])

# of rows with -3 levels: 7

             apt_name
0  은평뉴타운 우물골(두산위브7단지)

In [23]:
print('# of rows with -2 levels: {}'.format(merged_df[merged_df['floor']==-4]['floor'].count()))
pd.DataFrame(merged_df[merged_df['floor']==-4]['apt'].unique(), columns=['apt_name'])

# of rows with -2 levels: 4

             apt_name
0  은평뉴타운 우물골(두산위브7단지)

![minus three](./img/example3.jpg)

In [24]:
# no, it is not an error. You can live on the 80th floor if you want
list(set(merged_df[merged_df['floor']==80]['apt']))

['해운대두산위브더제니스']

![minus three](./img/example4.jpg)

Seems like they are habitable apartments except for '은평뉴타운우물골7단지'. Remove '은평뉴타운우물골7단지' rows in every given dataset.

In [25]:
train = train.loc[train['apt'] !='은평뉴타운 우물골(두산위브7단지)']
test = test.loc[test['apt'] !='은평뉴타운 우물골(두산위브7단지)']

In [26]:
#2. Split 'transaction_year_month'
train['transaction_year_month'] = train['transaction_year_month'].astype('str')
train['transaction_year'] = train['transaction_year_month'].str.slice(0,4)
train['transaction_month'] = train['transaction_year_month'].str.slice(5,7)
train.drop('transaction_year_month',axis=1, inplace=True)

test['transaction_year_month'] = test['transaction_year_month'].astype('str')
test['transaction_year'] = test['transaction_year_month'].str.slice(0,4)
test['transaction_month'] = test['transaction_year_month'].str.slice(5,7)
test.drop('transaction_year_month',axis=1, inplace=True)

In [27]:
#3. Categorize 'transaction_date'
# change 1-10, 11-20, and the rest to 1,2,3
train.loc[train['transaction_date']=='1~10', 'transaction_date'] = '0'
train.loc[train['transaction_date']=='11~20', 'transaction_date'] = '1'
train.loc[(train['transaction_date']!='1~10') & (train['transaction_date']!='11~20'), 'transaction_date'] = '2'

test.loc[test['transaction_date']=='1~10', 'transaction_date'] = '0'
test.loc[test['transaction_date']=='11~20', 'transaction_date'] = '1'
test.loc[(test['transaction_date']!='1~10') & (test['transaction_date']!='11~20'), 'transaction_date'] = '2'

In [28]:
#4. One-hot encoding on 'city', 'dong', 'apt', 'year', 'month', 'date'

# before going on, compare train and test datasets on 'city' and 'dong'
# no difference in city
list(train.city.unique()) == list(test.city.unique())

True

In [29]:
# there is the difference in city
list(train.dong.unique()) == list(test.dong.unique())
print("# of dongs only in train dataset: {}".format(len(set(train.dong)-set(test.dong))))
print("# of dongs only in test dataset: {}".format(len(set(test.dong)-set(train.dong))))

# of dongs only in train dataset: 83
# of dongs only in test dataset: 0

In [30]:
# Remove the dongs only in the train dataset 
tmp = train.copy()
for dong in list(set(train.dong)-set(test.dong)):
    tmp = tmp.loc[tmp['dong']!=dong]  
print('Deleted rows:', train.shape[0] - tmp.shape[0])

Deleted rows: 11641

In [31]:
# Remove unnecessary columns
train.drop(['jibun','apt','addr_kr'], axis=1, inplace=True)
test.drop(['jibun','apt','addr_kr'], axis=1, inplace=True)

#### (2) day care center

In [32]:
# fill missing values
day_care_center.isnull().sum().sort_values(ascending=False)

playground_num          3925
nursing_room_num        3199
CCTV_num                2271
is_commuting_vehicle     496
teacher_num              225
reference_date             0
day_care_baby_num          0
day_care_type              0
day_care_name              0
gu                         0
city                       0
dtype: int64

In [33]:
# drop the column 'playground_num' as it is too many to replace with the median
print('# of missing values:', str(round(day_care_center['playground_num'].isnull().sum()/day_care_center.shape[0]*100,2))+'%')
print('=> NO FILL NAS, DROP THE COLUMN')
day_care_center.drop('playground_num', axis=1, inplace=True)

# of missing values: 51.98%
=> NO FILL NAS, DROP THE COLUMN

In [34]:
# drop the column 'nursing_room_num' as it is too many to replace with the median
print('# of missing values:', str(round(day_care_center['nursing_room_num'].isnull().sum()/day_care_center.shape[0]*100,2))+'%')
print('=> FILL NAS with the median value of the group to which the specific row belongs')
day_care_center.drop('nursing_room_num', axis=1, inplace=True)

# of missing values: 42.37%
=> FILL NAS with the median value of the group to which the specific row belongs

In [35]:
# drop the column 'CCTV_num' as it is too many to replace with the median
print('# of missing values:', str(round(day_care_center['CCTV_num'].isnull().sum()/day_care_center.shape[0]*100,2))+'%')
print('=> NO FILL NAS, DROP THE COLUMN')
day_care_center.drop('CCTV_num', axis=1, inplace=True)

# of missing values: 30.08%
=> NO FILL NAS, DROP THE COLUMN

In [36]:
# drop the column 'commuting_vehicle' as it is too many to replace with the median
print('# of missing values:', str(round(day_care_center['is_commuting_vehicle'].isnull().sum()/day_care_center.shape[0]*100,2))+'%')
print('=> NO FILL NAS, DROP THE COLUMN')
day_care_center.drop('is_commuting_vehicle', axis=1, inplace=True)

# of missing values: 6.57%
=> NO FILL NAS, DROP THE COLUMN

In [37]:
# drop the column 'CCTV_num' as it is too many to replace with the median
print('# of missing values:', str(round(day_care_center['teacher_num'].isnull().sum()/day_care_center.shape[0]*100,2))+'%')
print('=> FILL NAS with the median value of the group to which the specific row belongs')

# of missing values: 2.98%
=> FILL NAS with the median value of the group to which the specific row belongs

In [38]:
# divide the baby number group 
c1 = (day_care_center['day_care_baby_num']>0) & (day_care_center['day_care_baby_num']<=10)
c2 = (day_care_center['day_care_baby_num']>10) & (day_care_center['day_care_baby_num']<=20)
c3 = (day_care_center['day_care_baby_num']>20) & (day_care_center['day_care_baby_num']<=30)
c4 = (day_care_center['day_care_baby_num']>30) & (day_care_center['day_care_baby_num']<=40)
c5 = (day_care_center['day_care_baby_num']>40) & (day_care_center['day_care_baby_num']<=50)
c6 = (day_care_center['day_care_baby_num']>50) & (day_care_center['day_care_baby_num']<=60)
c7 = (day_care_center['day_care_baby_num']>60) & (day_care_center['day_care_baby_num']<=70)
c8 = (day_care_center['day_care_baby_num']>70) & (day_care_center['day_care_baby_num']<=80)
c9 = (day_care_center['day_care_baby_num']>80) & (day_care_center['day_care_baby_num']<=90)
c10 = day_care_center['day_care_baby_num'] >90

med1= day_care_center.loc[c1]['teacher_num'].median()
med2= day_care_center.loc[c2]['teacher_num'].median()
med3= day_care_center.loc[c3]['teacher_num'].median()
med4= day_care_center.loc[c4]['teacher_num'].median()
med5= day_care_center.loc[c5]['teacher_num'].median()
med6= day_care_center.loc[c6]['teacher_num'].median()
med7= day_care_center.loc[c7]['teacher_num'].median()
med8= day_care_center.loc[c8]['teacher_num'].median()
med9= day_care_center.loc[c9]['teacher_num'].median()
med10= day_care_center.loc[c10]['teacher_num'].median()

print('median number of teachers when there are')
print('0-10 babies:', med1)
print('11-20 babies:', med2)
print('21-60 babies:', med3)
print('31-20 babies:', med4)
print('41-60 babies:', med5)
print('51-20 babies:', med6)
print('61-60 babies:', med7)
print('71-20 babies:', med8)
print('81-60 babies:', med9)
print('91+ babies:', med10)

median number of teachers when there are
0-10 babies: 2.0
11-20 babies: 6.0
21-60 babies: 7.0
31-20 babies: 8.0
41-60 babies: 10.0
51-20 babies: 11.0
61-60 babies: 11.0
71-20 babies: 12.0
81-60 babies: 14.0
91+ babies: 18.0

In [39]:
day_care_center.loc[c1, 'teacher_num'] = day_care_center.loc[c1].fillna(day_care_center.loc[c1].median())
day_care_center.loc[c2, 'teacher_num'] = day_care_center.loc[c2].fillna(day_care_center.loc[c2].median())
day_care_center.loc[c3, 'teacher_num'] = day_care_center.loc[c3].fillna(day_care_center.loc[c3].median())
day_care_center.loc[c4, 'teacher_num'] = day_care_center.loc[c4].fillna(day_care_center.loc[c4].median())
day_care_center.loc[c5, 'teacher_num'] = day_care_center.loc[c5].fillna(day_care_center.loc[c5].median())
day_care_center.loc[c6, 'teacher_num'] = day_care_center.loc[c6].fillna(day_care_center.loc[c6].median())
day_care_center.loc[c7, 'teacher_num'] = day_care_center.loc[c7].fillna(day_care_center.loc[c7].median())
day_care_center.loc[c8, 'teacher_num'] = day_care_center.loc[c8].fillna(day_care_center.loc[c8].median())
day_care_center.loc[c9, 'teacher_num'] = day_care_center.loc[c9].fillna(day_care_center.loc[c9].median())
day_care_center.loc[c10, 'teacher_num'] = day_care_center.loc[c10].fillna(day_care_center.loc[c10].median())

In [40]:
day_care_center.isnull().sum()

city                 0
gu                   0
day_care_name        0
day_care_type        0
day_care_baby_num    0
teacher_num          0
reference_date       0
dtype: int64

In [42]:
# drop rows whose teacher_num is 0 whereas baby num is not 0
day_care_center.describe()
day_care_center = day_care_center.loc[day_care_center['teacher_num']!=0]

In [43]:
# create new metrics, baby_per_teacher
day_care_center['baby_per_teacher'] = day_care_center['day_care_baby_num'].astype(float) / day_care_center['teacher_num'].astype(float)

# drop unnecessary columns
day_care_center.drop(['day_care_baby_num','teacher_num', 'reference_date'], axis=1, inplace=True)

In [44]:
# group by address for concatenating to train/test 
day_care_df = day_care_center.drop(['day_care_name', 'day_care_type'], axis=1).groupby(['city','gu']).agg(['mean']).reset_index()
day_care_df.columns = ['city','gu','avg_baby_per_teacher']
day_care_df.head()

    city   gu  avg_baby_per_teacher
0  부산광역시  강서구                  6.32
1  부산광역시  금정구                  4.97
2  부산광역시  기장군                  4.73
3  부산광역시   남구                  5.37
4  부산광역시   동구                  5.58

#### (3) Park

**Things to needed to be done later - PARK** <br>
1. Need to fill three missing gu. 
2. Need to deal with missing values in each column
3. Do One-hot encodings on columns.
4. Convert columns to the correct data types. 
5. Cutting out outliers

In [45]:
park.isnull().sum()

city                              0
gu                                3
dong                              0
park_name                         0
park_type                         0
park_area                         0
park_exercise_facility         1082
park_entertainment_facility     924
park_benefit_facility          1093
park_cultural_facitiy          1287
park_facility_other            1184
park_open_year                  422
reference_date                    0
dtype: int64

In [46]:
# fill 3 missing gu information
park[565:566]['gu'] = '중구'
park[566:567]['gu'] = '부산진구'
park[567:568]['gu'] = '동래구'

<ipython-input-46-4bcf25969814>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  park[565:566]['gu'] = '중구'
<ipython-input-46-4bcf25969814>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  park[566:567]['gu'] = '부산진구'
<ipython-input-46-4bcf25969814>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  park[567:568]['gu'] = '동래구'

In [47]:
# drop columns having too many missing values
park.drop(['park_exercise_facility', 'park_entertainment_facility','park_benefit_facility',
           'park_cultural_facitiy', 'park_facility_other'], axis=1, inplace=True)

In [48]:
# fill empty open years with flag 0
park['park_open_year'] = park['park_open_year'].fillna(0)

# change the data type to str
park['park_open_year'] = park['park_open_year'].astype(int).astype(str)

In [49]:
park.isnull().sum()

city              0
gu                0
dong              0
park_name         0
park_type         0
park_area         0
park_open_year    0
reference_date    0
dtype: int64

In [50]:
# drop unnecessary columns
park.drop(['park_name','reference_date'], axis=1, inplace=True)

In [51]:
# group by address for concatenating to train/test 
park_df = park.drop(['park_type','park_open_year'], axis=1).groupby(['city','gu','dong']).agg(['count','mean']).reset_index()
park_df.columns = ['city','gu','dong','total_park_count','avg_park_area']
park_df.drop('dong', axis=1, inplace=True)

#### Create a final dataset

In [52]:
gudong = pd.read_csv('./input/gudongd.csv')
gudong = gudong.drop_duplicates()

In [53]:
# two cities 
gudong_city = list(set(gudong.city))

In [54]:
# check duplicated dong names in case
# Actually there are three 신사동 in Seoul in total.
gudong[gudong.dong.str.contains('신사')].head()

      city   gu       dong
367  서울특별시  은평구   신사동(新寺洞)
612  서울특별시  서초구   신사동(新沙洞)
616  서울특별시  강남구   신사동(新沙洞)

Because there are three duplicated dongs without gu information given in train/test dataset, I am going to drop these rows first and merge train/test, day care center, park datasets and then fill missing values with gu's median values

In [55]:
# delete whitspaces
gudong['dong'] = gudong['dong'].str.strip()

# drop 신사동 rows 
gudong = gudong[gudong.dong != '신사동']
gudong_dong = list(set(gudong.dong))

In [56]:
# train
for dong in gudong_dong:
    print(dong)
    train.loc[train['dong'].str.contains(dong[:2]), 'gu'] = list(set(gudong[gudong['dong'].str.contains(dong[:2])]['gu']))[0]
print('end')

합정동(合井洞)
신사동(新寺洞)
반여제3동(盤如第3洞)
을지로7가(乙支路7街)
이촌동(二村洞)
동소문동2가(東小門洞2街)
홍지동(弘智洞)
당산동1가(堂山洞1街)
용답동(龍踏洞)
동광동(東光洞)
의주로1가(義州路1街)
개봉동(開峰洞)
범전동
관철동(貫鐵洞)
고척동(高尺洞)
남가좌동(南加佐洞)
부전제2동(釜田第2洞)
수안동
대림동(大林洞)
만덕제1동(萬德第1洞)
영동포동5가(永登浦洞5街)
마장동(馬場洞)
부곡제4동(釜谷第4洞)
전포제1동(田浦第1洞)
삼전동(三田洞)
마천동(馬川洞)
아현동(阿峴洞)
정동(貞洞)
오장동(五壯洞)
중동(中洞)
문현제3동(門峴第3洞)
신평제2동(新平第2洞)
괴정제1동(槐亭第1洞)
회동동
사근동(沙斤洞)
세종로(世宗路)
남부민제2동(南富民2洞)
신교동(新橋洞)
다대제2동(多大第2洞)
양평동4가(楊坪洞4街)
잠원동(蠶院洞)
봉래제1동(蓬萊第1洞)
남산동1가(南山洞1街)
종로3가(鐘路3街)
재동(齋洞)
옥천동(玉川洞)
아미동(峨嵋洞)
봉래동1가(蓬萊洞1街)
보수동(寶水洞)
신월동(新月洞)
석촌동(石村洞)
좌제4동(佐第4洞)
동삼제3동(東三第3洞)
문현제1동(門峴第1洞)
대현동(大峴洞)
남산동2가(南山洞2街)
청진동(淸進洞)
장안동(長安洞)
대연제5동(大淵第5洞)
미아동(彌阿洞)
민락동(民樂洞)
신정동(新亭洞)
동자동
갈월동
장교동(長橋洞)
만리동1가(萬里洞1街)
신수동(新水洞)
반송제1동(盤松第1洞)
신설동(新設洞)
대연제6동(大淵第6洞)
문래동5가(文來洞5街)
선두구동(仙杜邱洞)
삼락동(三樂洞)
광희동1가(光熙洞1街)
영등포동(永登浦洞)
부암제1동(釜岩第1洞)
보문동4가(普門洞4街)
시흥동(始興洞)
충무로4가(忠武路4街)
구수동(舊水洞)
개금제1동(開琴第1洞)
감만제1동(勘蠻第1洞)
천연동(天然洞)
신정동(新井洞)
성내동(城內洞)
삼청동(三淸洞)
이화동(梨花洞)
무학동(舞鶴洞)
용호제4동(龍湖第4洞)
용문동(龍門洞)
동작동(銅雀洞)
궁정동(宮井洞)
동대신제2동(東大新第2洞)
군자동(君子洞)
수민동(壽民洞)
반포동(盤浦洞)
삼선동2가(三仙洞2街)
불광동(佛光洞)
당산동(堂山洞)
양평동5가(楊坪洞5街)
봉래제2동(蓬萊第2洞)
동빙고동
초량제1동(草梁第1洞)
본동(本洞)
옥수동(玉水洞)
황학동(黃鶴洞)
감천제1동(甘川第1洞)
구포제1동(龜浦第1洞)
금호동2가(金湖洞2街)
보문동5가(普門洞5街)
녹번동(碌磻洞)
도선동(道詵洞)
광안제3동(廣安第3洞)
청학제1동(靑鶴第1洞)
가덕도동(加德島洞)
경운동(慶雲洞)
양재동(良才洞)
가야제1동(伽倻第1洞)
회현동1가(會賢洞1街)
동대신제1동(東大新第1洞)
중계동(中溪洞)
효창동(孝昌洞)
칠산동
오금동(梧琴洞)
명장제1동(鳴臟第1洞)
공항동(空港洞)
수영동(水營洞)
영천동(靈泉洞)
양평동1가(楊坪洞1街)
광희동2가(光熙洞2街)
염곡동(廉谷洞)
성산동(城山洞)
동숭동(東崇洞)
당산동5가(堂山洞5街)
쌍문동(雙門洞)
인사동(仁寺洞)
남대문로3가(南大門路3街)
주례제1동(周禮第1洞)
한강로3가(漢江路3街)
충무로2가(忠武路2街)
목동(木洞)
좌제2동(佐第2洞)
삼선동4가(三仙洞4街)
남대문로5가(南大門路5街)
명동2가(明洞2街)
남포동(南浦洞)
하중동(賀中洞)
한강로1가(漢江路1街)
보문동7가(普門洞7街)
중학동(中學洞)
신당동(新堂洞)
명륜4가(明倫4街)
동삼제1동(東三第1洞)
다동(茶洞)
청운동(淸雲洞)
양평동3가(楊坪洞3街)
내수동(內需洞)
천호동(千戶洞)
송정동(松亭洞)
제기동(祭基洞)
필동3가(筆洞3街)
흑석동(黑石洞)
용당동(龍塘洞)
사직제2동(社稷第2洞)
수정제2동(水晶第2洞)
지사동
용산동6가(龍山洞6街)
수색동(水色洞)
창전동(倉前洞)
화명제2동(華明第2洞)
기장읍
신도림동(新道林洞)
거제제1동(巨堤第1洞)
묵정동(墨井洞)
용호제2동(龍湖第2洞)
돈의동(敦義洞)
사직동(社稷洞)
범일제2동(凡一第2洞)
양평동6가(楊坪洞6街)
천왕동(天旺洞)
주교동(舟橋洞)
와룡동(臥龍洞)
재송제1동(栽松第1洞)
대저제1동(大渚第1洞)
평창동(平倉洞)
남대문로4가(南大門路4街)
안암동1가(安岩洞1街)
대조동(大棗洞)
안암동2가(安岩洞2街)
풍납동(風納洞)
삼선동5가(三仙洞5街)
초량제2동(草梁第2洞)
상왕십리동(上往十里洞)
능동(陵洞)
광복동(光復洞)
봉래동2가(蓬萊洞2街)
영동포동4가(永登浦洞4街)
수정제5동(水晶第5洞)
명륜3가(明倫3街)
거여동(巨餘洞)
신평제1동(新平第1洞)
정관읍(鼎冠邑)
상암동(上岩洞)
송월동(松月洞)
광안제4동(廣安第4洞)
소격동(昭格洞)
연산제6동(蓮山第6洞)
화동(花洞)
사간동(司諫洞)
양평동(楊坪洞)
충무로3가(忠武路3街)
광안제1동(廣安第1洞)
고덕동(高德洞)
정릉동(貞陵洞)
가리봉동(加里峰洞)
강동동(江東洞)
소공동(小公洞)
돈암동(敦岩洞)
영동포동3가(永登浦洞3街)
광장동(廣壯洞)
양정제1동(楊亭第1洞)
온천제1동(溫川第1洞)
감전동(甘田洞)
장전제2동(長箭第2洞)
범천제1동(凡川第1洞)
창천동(滄川洞)
가야제2동(伽倻第2洞)
수하동(水下洞)
명륜2가(明倫2街)
신사동(新沙洞)
쌍림동(雙林洞)
누하동(樓下洞)
종로2가(鐘路2街)
학장동(鶴章洞)
구기동(舊基洞)
다대제1동(多大第1洞)
복천동
영주제2동(瀛州第2洞)
대흥동(大興洞)
전포제2동(田浦第2洞)
교남동(橋南洞)
내발산동(內鉢山洞)
수표동(水標洞)
회현동3가(會賢洞3街)
관훈동(寬勳洞)
영동포동8가(永登浦洞8街)
북창동(北倉洞)
후암동
궁동(宮洞)
동소문동5가(東小門洞5街)
인의동(仁義洞)
화명제1동(華明第1洞)
수서동(水西洞)
상봉동(上鳳洞)
거제제4동(巨堤第4洞)
신영동(新營洞)
덕천제2동(德川第2洞)
금사동(錦絲洞)
당감제4동(堂甘第4洞)
개금제3동(開第3洞)
주자동(鑄字洞)
가산동(加山洞)
구평동(舊平洞)
망우동(忘憂洞)
태평로2가(太平路2街)
장충동1가(奬忠洞1街)
남대문로2가(南大門路2街)
반여제4동(盤如第4洞)
대치동(大峙洞)
강일동(江一洞)
재송제2동(栽松第2洞)
신길동(新吉洞)
흥인동(興仁洞)
을지로2가(乙支路1街)
북가좌동(北加佐洞)
명지2동(鳴旨2洞)
부평동(富平洞)
번동(樊洞)
연남동(延南洞)
하왕십리동(下往十里洞)
좌천동(佐川洞)
대교동
개화동(開花洞)
수유동(水踰洞)
잠실동(蠶室洞)
독산동(禿山洞)
명지1동(鳴旨1洞)
당인동(唐人洞)
모라제3동(毛羅第3洞)
세곡동(細谷洞)
온천제3동(溫川第3洞)
여의도동(汝矣島洞)
신대방동(新大方洞)
종로5가(鐘路5街)
가락동(駕洛洞)
토정동(土亭洞)
서계동(西界洞)
북아현동(北阿峴洞)
당산동3가(堂山洞3街)
삼선동3가(三仙洞3街)
을지로5가(乙支路5街)
안국동(安國洞)
안암동3가(安岩洞1街)
초동(草洞)
대저제2동(大渚第2洞)
부용동
구의동(九宜洞)
예장동(藝場洞)
일광면(日光面)
대연제3동(大淵第3洞)
염리동(鹽里洞)
동소문동6가(東小門洞6街)
용강동(龍江洞)
동소문동4가(東小門洞4街)
적선동(積善洞)
금호동3가(金湖洞2街)
석관동
신호동
문래동4가(文來洞4街)
회기동(回基洞)
묵동(墨洞)
남대문로1가(南大門路1街)
송파동(松坡洞)
종로6가(鐘路6街)
괴정제4동(槐亭第4洞)
교북동(橋北洞)
외발산동(外鉢山洞)
서린동(瑞麟洞)
반송제2동(盤松第2洞)
행당동(杏堂洞)
망원동(望遠洞)
서대신제3동(西大新第3洞)
연산제3동(蓮山第3洞)
영동포동2가(永登浦洞2街)
훈정동(薰井洞)
오류동(梧柳洞)
영동포동6가(永登浦洞6街)
상일동(上一洞)
우제2동(佑第2洞)
일원동(逸院洞)
동선동4가(東仙洞4街)
상도1동(上道一洞)
영동포동7가(永登浦洞7街)
연건동(蓮建洞)
중화동(中和洞)
덕포제1동(德浦第1洞)
거제제2동(巨堤第2洞)
창신동(昌信洞)
신림동(新林洞)
견지동(堅志洞)
도봉동(道峰洞)
화곡동(禾谷洞)
괴정제3동(槐亭第3洞)
수송동(壽松洞)
양정제2동(楊亭第2洞)
성수동2가(聖水洞2街)
노량진동(鷺梁津洞)
연산제5동(蓮山第5洞)
명장제2동(鳴臟第2洞)
보문동2가(普門洞2街)
당산동4가(堂山洞4街)
운니동(雲泥洞)
원효로1가(元曉路1街)
필동2가(筆洞2街)
용산동5가(龍山洞5街)
금성동(金城洞)
구서제1동(久瑞第1洞)
삼성동(三成洞)
대연제4동(大淵第4洞)
입정동(笠井洞)
개포동(開浦洞)
당산동6가(堂山洞6街)
구로동(九老洞)
관수동(觀水洞)
좌동
철마면(鐵馬面)
연산제9동(蓮山第9洞)
현저동(峴底洞)
괘법동(掛法洞)
문래동2가(文來洞2街)
연지동(蓮池洞)
녹산동(菉山洞)
신계동(新契洞)
사당동(舍堂洞)
대청동(大廳洞)
개금제2동(開琴第2洞)
압구정동(狎鷗亭洞)
효자동(孝子洞)
감천제2동(甘川第2洞)
보문동1가(普門洞1街)
용호제3동(龍湖第3洞)
평동(平洞)
서대신제1동(西大新第1洞)
무악동(毋岳洞)
초량제6동(草梁第6洞)
동선동2가(東仙洞街)
서제3동(書第3洞)
남천제1동(南川第1洞)
을지로4가(乙支路4街)
신선동(新仙洞)
계동(桂洞)
중제1동(中第1洞)
갈현동(葛峴洞)
괴정제2동(槐亭第2洞)
초장동(草場洞)
홍익동(弘益洞)
창성동(昌成洞)
당리동(堂里洞)
주례제2동(周禮第2洞)
원효로2가(元曉路2街)
마포동(麻浦洞)
공릉동(孔陵洞)
초읍동(草邑洞)
자곡동(紫谷洞)
문래동1가(文來洞1街)
남천제2동(南川第2洞)
예지동(禮智洞)
인현동
성수동1가(聖水洞1街)
범일제5동(凡一第5洞)
수정제4동(水晶第4洞)
안락제2동(安樂第2洞)
서교동(西橋洞)
문배동(文培洞)
좌제3동(佐第3洞)
명동1가(明洞1街)
저동1가(苧洞1街)
태평로1가(太平路1街)
종암동(鍾岩洞)
보문동3가(普門洞3街)
회현동2가(會賢洞1街)
역삼동(驛三洞)
서대신제4동(西大新第4洞)
충무로5가(忠武路5街)
서제2동(書第2洞)
청파동
봉익동(鳳翼洞)
혜화동(惠化洞)
행촌동(杏村洞)
만리동2가(萬里洞2街)
엄궁동(嚴弓洞)
서초동(瑞草洞)
덕천제3동(德川第3洞)
장지동(長旨洞)
동대신제3동(東大新第3洞)
예관동(藝館洞)
사직제1동(社稷第1洞)
공덕동(孔德洞)
영동포동1가(永登浦洞1街)
반여제2동(盤如第2洞)
인헌동1가(仁峴洞1街)
청암동(淸岩洞)
노고산동(老姑山洞)
통인동(通仁洞)
내자동(內資洞)
부민동(富民洞)
순화동(巡和洞)
누상동(樓上洞)
신천동(新川洞)
동삼제2동(東三第2洞)
공평동(公平洞)
문현제4동(門峴第4洞)
망미제1동(望美第1洞)
방화동(傍花洞)
원효로3가(元曉路3街)
현석동(玄石洞)
상수동(上水洞)
염창동(鹽倉洞)
동선동3가(東仙洞3街)
자양동(紫陽洞)
신문로1.2가(新門路1.2街)
장림제2동(長林第2洞)
만덕제2동(萬德第2洞)
오곡동(五谷洞)
체부동(體府洞)
청룡노포동(靑龍老圃洞)
옥인동(玉仁洞)
대연제1동(大淵第1洞)
문래동6가(文來洞6街)
구포제3동(龜浦第3洞)
반여제1동(盤如第1洞)
하단제1동(下端第1洞)
중제2동(中第2洞)
영선제2동(瀛仙第2洞)
충정로1가(忠武路1街)
영주제1동(瀛州第1洞)
연희동(延禧洞)
부곡제3동(釜谷第3洞)
논현동(論峴洞)
도원동(桃園洞)
용산동3가(龍山洞3街)
안락제1동(安樂第1洞)
홍파동(紅把洞)
합동(蛤洞)
중곡동(中谷洞)
하단제2동(下端第2洞)
상월곡동(上月谷洞)
봉원동(奉元洞)
응봉동(鷹峯洞)
연산제2동(蓮山第2洞)
미근동(渼芹洞)
광안제2동(廣安第2洞)
홍제동(弘濟洞)
거제제3동(巨堤第3洞)
명륜동(明倫洞)
충정로3가(忠正路3街)
홍은동(弘恩洞)
청량리동(淸凉里洞)
신촌동(新村洞)
모라제1동(毛羅第1洞)
을지로6가(乙支路6街)
봉천동(奉天洞)
방배동(方背洞)
부암동(付岩洞)
낙원동(樂園洞)
초량제3동(草梁第3洞)
동소문동7가(東小門洞7街)
원남동(苑南洞)
범일제1동(凡一第1洞)
필운동(弼雲洞)
과해동(果海洞)
문정동(文井洞)
종로4가(鐘路4街)
저동2가(苧洞2街)
산림동(山林洞)
휘경동(徽慶洞)
창동(倉洞)
가양동(加陽洞)
부곡제1동(釜谷第1洞)
남부민제1동(南富民1洞)
가락동(可樂洞)
통의동(通義洞)
한남동(漢南洞)
익선동(益善洞)
을지로3가(乙支路3街)
충무동(忠武洞)
필동1가(筆洞1街)
삼선동1가(三仙洞1街)
안암동5가(安岩洞5街)
서동
남창동(南倉洞)
길동(吉洞)
을지로1가(乙支路1街)
구산동(龜山洞)
증산동(繒山洞)
연산제1동(蓮山第1洞)
팔판동(八判洞)
낙민동
화명제3동(華明第3洞)
대신동(大新洞)
서빙고동(西氷庫洞)
성북동(城北洞)
동선동5가(東仙洞5街)
신공덕동(新孔德洞)
하월곡동(下月谷洞)
만덕제3동(萬德第3洞)
내곡동(內谷洞)
화양동(華陽洞)
남산동(南山洞)
금곡동(金谷洞)
신원동(新院洞)
안암동4가(安岩洞4街)
동소문동3가(東小門洞3街)
구포제2동(龜浦第2洞)
망미제2동(望美第2洞)
동선동1가(東仙洞1街)
효제동(孝悌洞)
답십리동(踏十里洞)
도화동(桃花洞)
용호제1동(龍湖第1洞)
묘동(廟洞)
청담동(淸潭洞)
충무로1가(忠武路1街)
부곡제2동(釜谷第2洞)
우제3동(佑第3洞)
삼각동(三角洞)
가회동(嘉會洞)
암사동(岩寺洞)
온수동(溫水洞)
진관동(津寬洞)
면목동(面牧洞)
용두동(龍頭洞)
방산동(芳山洞)
금호동1가(金湖洞1街)
복산동(福山洞)
장림제1동(長林第1洞)
신내동(新內洞)
상도동(上道洞)
대방동(大方洞)
청학제2동(靑鶴第2洞)
동소문동1가(東小門洞1街)
장위동
이문동(里門洞)
명일동(明逸洞)
월계동(月溪洞)
우이동(牛耳洞)
문현제2동(門峴第2洞)
당감제2동(堂甘第2)
양화동(楊花洞)
회현동2가(會賢洞2街)
보문동6가(普門洞6街)
역촌동(驛村洞)
성북동1가(城北洞1街)
당감제1동(堂甘第1洞)
동교동(東橋洞)
인헌동2가(仁峴洞2街)
부암제3동(釜岩第3洞)
남현동(南峴洞)
중앙동(中央洞)
우동
우암동(牛岩洞)
토성동
장사동(長沙洞)
범천제2동(凡川第2洞)
장전제1동(長箭第1洞)
중림동(中林洞)
무교동(武橋洞)
원지동(院趾洞)
명륜1가(明倫1街)
우면동(牛眠洞)
장충동2가(奬忠洞2街)
원서동(苑西洞)
양평동2가(楊坪洞2街)
우제1동(佑第1洞)
도렴동(都染洞)
부전제1동(釜田第1洞)
항동(航洞)
충정로2가(忠正路2街)
하계동(下溪洞)
암남동(岩南洞)
남산동3가(南山洞3街)
이태원동(梨泰院洞)
당산동2가(堂山洞2街)
장안읍(長安邑)
숭인동(崇仁洞)
도림동(道林洞)
연산제4동(蓮山第4洞)
충정로1가(忠正路1街)
한강로2가(漢江路2街)
신창동(新倉洞)
전농동(典農洞)
금호동4가(金湖洞4街)
상계동(上溪洞)
도곡동(道谷洞)
권농동(勸農洞)
주례제3동(周禮第3洞)
좌제1동(佐第1洞)
감만제2동(勘蠻第2洞)
구서제2동(久瑞第2洞)
등촌동(登村洞)
오쇠동(五釗洞)
원효로4가(元曉路4街)
주성동
온천제2동(溫川第2洞)
수정제1동(水晶第1洞)
당주동(唐珠洞)
남학동(南學洞)
서제1동(書第1洞)
방이동(芳荑洞)
영선제1동(瀛仙第1洞)
사직제3동(社稷第3洞)
문래동3가(文來洞3街)
의주로2가(義州路2街)
마곡동(麻谷洞)
덕포제2동(德浦第2洞)
보광동(普光洞)
냉천동(冷泉洞)
송현동(松峴洞)
산천동(山泉洞)
둔촌동(遁村洞)
종로1가(鐘路1街)
덕천제1동(德川第1洞)
서소문동(西小門洞)
충신동(忠信洞)
길음동(吉音洞)
응암동(鷹岩洞)
율현동(栗峴洞)
방학동(放鶴洞)
남항동(南港洞)
연산제8동(蓮山第8洞)
end

In [57]:
# test
for dong in gudong_dong:
    print(dong)
    test.loc[test['dong'].str.contains(dong[:2]), 'gu'] = list(set(gudong[gudong['dong'].str.contains(dong[:2])]['gu']))[0]
print('end')

합정동(合井洞)
신사동(新寺洞)
반여제3동(盤如第3洞)
을지로7가(乙支路7街)
이촌동(二村洞)
동소문동2가(東小門洞2街)
홍지동(弘智洞)
당산동1가(堂山洞1街)
용답동(龍踏洞)
동광동(東光洞)
의주로1가(義州路1街)
개봉동(開峰洞)
범전동
관철동(貫鐵洞)
고척동(高尺洞)
남가좌동(南加佐洞)
부전제2동(釜田第2洞)
수안동
대림동(大林洞)
만덕제1동(萬德第1洞)
영동포동5가(永登浦洞5街)
마장동(馬場洞)
부곡제4동(釜谷第4洞)
전포제1동(田浦第1洞)
삼전동(三田洞)
마천동(馬川洞)
아현동(阿峴洞)
정동(貞洞)
오장동(五壯洞)
중동(中洞)
문현제3동(門峴第3洞)
신평제2동(新平第2洞)
괴정제1동(槐亭第1洞)
회동동
사근동(沙斤洞)
세종로(世宗路)
남부민제2동(南富民2洞)
신교동(新橋洞)
다대제2동(多大第2洞)
양평동4가(楊坪洞4街)
잠원동(蠶院洞)
봉래제1동(蓬萊第1洞)
남산동1가(南山洞1街)
종로3가(鐘路3街)
재동(齋洞)
옥천동(玉川洞)
아미동(峨嵋洞)
봉래동1가(蓬萊洞1街)
보수동(寶水洞)
신월동(新月洞)
석촌동(石村洞)
좌제4동(佐第4洞)
동삼제3동(東三第3洞)
문현제1동(門峴第1洞)
대현동(大峴洞)
남산동2가(南山洞2街)
청진동(淸進洞)
장안동(長安洞)
대연제5동(大淵第5洞)
미아동(彌阿洞)
민락동(民樂洞)
신정동(新亭洞)
동자동
갈월동
장교동(長橋洞)
만리동1가(萬里洞1街)
신수동(新水洞)
반송제1동(盤松第1洞)
신설동(新設洞)
대연제6동(大淵第6洞)
문래동5가(文來洞5街)
선두구동(仙杜邱洞)
삼락동(三樂洞)
광희동1가(光熙洞1街)
영등포동(永登浦洞)
부암제1동(釜岩第1洞)
보문동4가(普門洞4街)
시흥동(始興洞)
충무로4가(忠武路4街)
구수동(舊水洞)
개금제1동(開琴第1洞)
감만제1동(勘蠻第1洞)
천연동(天然洞)
신정동(新井洞)
성내동(城內洞)
삼청동(三淸洞)
이화동(梨花洞)
무학동(舞鶴洞)
용호제4동(龍湖第4洞)
용문동(龍門洞)
동작동(銅雀洞)
궁정동(宮井洞)
동대신제2동(東大新第2洞)
군자동(君子洞)
수민동(壽民洞)
반포동(盤浦洞)
삼선동2가(三仙洞2街)
불광동(佛光洞)
당산동(堂山洞)
양평동5가(楊坪洞5街)
봉래제2동(蓬萊第2洞)
동빙고동
초량제1동(草梁第1洞)
본동(本洞)
옥수동(玉水洞)
황학동(黃鶴洞)
감천제1동(甘川第1洞)
구포제1동(龜浦第1洞)
금호동2가(金湖洞2街)
보문동5가(普門洞5街)
녹번동(碌磻洞)
도선동(道詵洞)
광안제3동(廣安第3洞)
청학제1동(靑鶴第1洞)
가덕도동(加德島洞)
경운동(慶雲洞)
양재동(良才洞)
가야제1동(伽倻第1洞)
회현동1가(會賢洞1街)
동대신제1동(東大新第1洞)
중계동(中溪洞)
효창동(孝昌洞)
칠산동
오금동(梧琴洞)
명장제1동(鳴臟第1洞)
공항동(空港洞)
수영동(水營洞)
영천동(靈泉洞)
양평동1가(楊坪洞1街)
광희동2가(光熙洞2街)
염곡동(廉谷洞)
성산동(城山洞)
동숭동(東崇洞)
당산동5가(堂山洞5街)
쌍문동(雙門洞)
인사동(仁寺洞)
남대문로3가(南大門路3街)
주례제1동(周禮第1洞)
한강로3가(漢江路3街)
충무로2가(忠武路2街)
목동(木洞)
좌제2동(佐第2洞)
삼선동4가(三仙洞4街)
남대문로5가(南大門路5街)
명동2가(明洞2街)
남포동(南浦洞)
하중동(賀中洞)
한강로1가(漢江路1街)
보문동7가(普門洞7街)
중학동(中學洞)
신당동(新堂洞)
명륜4가(明倫4街)
동삼제1동(東三第1洞)
다동(茶洞)
청운동(淸雲洞)
양평동3가(楊坪洞3街)
내수동(內需洞)
천호동(千戶洞)
송정동(松亭洞)
제기동(祭基洞)
필동3가(筆洞3街)
흑석동(黑石洞)
용당동(龍塘洞)
사직제2동(社稷第2洞)
수정제2동(水晶第2洞)
지사동
용산동6가(龍山洞6街)
수색동(水色洞)
창전동(倉前洞)
화명제2동(華明第2洞)
기장읍
신도림동(新道林洞)
거제제1동(巨堤第1洞)
묵정동(墨井洞)
용호제2동(龍湖第2洞)
돈의동(敦義洞)
사직동(社稷洞)
범일제2동(凡一第2洞)
양평동6가(楊坪洞6街)
천왕동(天旺洞)
주교동(舟橋洞)
와룡동(臥龍洞)
재송제1동(栽松第1洞)
대저제1동(大渚第1洞)
평창동(平倉洞)
남대문로4가(南大門路4街)
안암동1가(安岩洞1街)
대조동(大棗洞)
안암동2가(安岩洞2街)
풍납동(風納洞)
삼선동5가(三仙洞5街)
초량제2동(草梁第2洞)
상왕십리동(上往十里洞)
능동(陵洞)
광복동(光復洞)
봉래동2가(蓬萊洞2街)
영동포동4가(永登浦洞4街)
수정제5동(水晶第5洞)
명륜3가(明倫3街)
거여동(巨餘洞)
신평제1동(新平第1洞)
정관읍(鼎冠邑)
상암동(上岩洞)
송월동(松月洞)
광안제4동(廣安第4洞)
소격동(昭格洞)
연산제6동(蓮山第6洞)
화동(花洞)
사간동(司諫洞)
양평동(楊坪洞)
충무로3가(忠武路3街)
광안제1동(廣安第1洞)
고덕동(高德洞)
정릉동(貞陵洞)
가리봉동(加里峰洞)
강동동(江東洞)
소공동(小公洞)
돈암동(敦岩洞)
영동포동3가(永登浦洞3街)
광장동(廣壯洞)
양정제1동(楊亭第1洞)
온천제1동(溫川第1洞)
감전동(甘田洞)
장전제2동(長箭第2洞)
범천제1동(凡川第1洞)
창천동(滄川洞)
가야제2동(伽倻第2洞)
수하동(水下洞)
명륜2가(明倫2街)
신사동(新沙洞)
쌍림동(雙林洞)
누하동(樓下洞)
종로2가(鐘路2街)
학장동(鶴章洞)
구기동(舊基洞)
다대제1동(多大第1洞)
복천동
영주제2동(瀛州第2洞)
대흥동(大興洞)
전포제2동(田浦第2洞)
교남동(橋南洞)
내발산동(內鉢山洞)
수표동(水標洞)
회현동3가(會賢洞3街)
관훈동(寬勳洞)
영동포동8가(永登浦洞8街)
북창동(北倉洞)
후암동
궁동(宮洞)
동소문동5가(東小門洞5街)
인의동(仁義洞)
화명제1동(華明第1洞)
수서동(水西洞)
상봉동(上鳳洞)
거제제4동(巨堤第4洞)
신영동(新營洞)
덕천제2동(德川第2洞)
금사동(錦絲洞)
당감제4동(堂甘第4洞)
개금제3동(開第3洞)
주자동(鑄字洞)
가산동(加山洞)
구평동(舊平洞)
망우동(忘憂洞)
태평로2가(太平路2街)
장충동1가(奬忠洞1街)
남대문로2가(南大門路2街)
반여제4동(盤如第4洞)
대치동(大峙洞)
강일동(江一洞)
재송제2동(栽松第2洞)
신길동(新吉洞)
흥인동(興仁洞)
을지로2가(乙支路1街)
북가좌동(北加佐洞)
명지2동(鳴旨2洞)
부평동(富平洞)
번동(樊洞)
연남동(延南洞)
하왕십리동(下往十里洞)
좌천동(佐川洞)
대교동
개화동(開花洞)
수유동(水踰洞)
잠실동(蠶室洞)
독산동(禿山洞)
명지1동(鳴旨1洞)
당인동(唐人洞)
모라제3동(毛羅第3洞)
세곡동(細谷洞)
온천제3동(溫川第3洞)
여의도동(汝矣島洞)
신대방동(新大方洞)
종로5가(鐘路5街)
가락동(駕洛洞)
토정동(土亭洞)
서계동(西界洞)
북아현동(北阿峴洞)
당산동3가(堂山洞3街)
삼선동3가(三仙洞3街)
을지로5가(乙支路5街)
안국동(安國洞)
안암동3가(安岩洞1街)
초동(草洞)
대저제2동(大渚第2洞)
부용동
구의동(九宜洞)
예장동(藝場洞)
일광면(日光面)
대연제3동(大淵第3洞)
염리동(鹽里洞)
동소문동6가(東小門洞6街)
용강동(龍江洞)
동소문동4가(東小門洞4街)
적선동(積善洞)
금호동3가(金湖洞2街)
석관동
신호동
문래동4가(文來洞4街)
회기동(回基洞)
묵동(墨洞)
남대문로1가(南大門路1街)
송파동(松坡洞)
종로6가(鐘路6街)
괴정제4동(槐亭第4洞)
교북동(橋北洞)
외발산동(外鉢山洞)
서린동(瑞麟洞)
반송제2동(盤松第2洞)
행당동(杏堂洞)
망원동(望遠洞)
서대신제3동(西大新第3洞)
연산제3동(蓮山第3洞)
영동포동2가(永登浦洞2街)
훈정동(薰井洞)
오류동(梧柳洞)
영동포동6가(永登浦洞6街)
상일동(上一洞)
우제2동(佑第2洞)
일원동(逸院洞)
동선동4가(東仙洞4街)
상도1동(上道一洞)
영동포동7가(永登浦洞7街)
연건동(蓮建洞)
중화동(中和洞)
덕포제1동(德浦第1洞)
거제제2동(巨堤第2洞)
창신동(昌信洞)
신림동(新林洞)
견지동(堅志洞)
도봉동(道峰洞)
화곡동(禾谷洞)
괴정제3동(槐亭第3洞)
수송동(壽松洞)
양정제2동(楊亭第2洞)
성수동2가(聖水洞2街)
노량진동(鷺梁津洞)
연산제5동(蓮山第5洞)
명장제2동(鳴臟第2洞)
보문동2가(普門洞2街)
당산동4가(堂山洞4街)
운니동(雲泥洞)
원효로1가(元曉路1街)
필동2가(筆洞2街)
용산동5가(龍山洞5街)
금성동(金城洞)
구서제1동(久瑞第1洞)
삼성동(三成洞)
대연제4동(大淵第4洞)
입정동(笠井洞)
개포동(開浦洞)
당산동6가(堂山洞6街)
구로동(九老洞)
관수동(觀水洞)
좌동
철마면(鐵馬面)
연산제9동(蓮山第9洞)
현저동(峴底洞)
괘법동(掛法洞)
문래동2가(文來洞2街)
연지동(蓮池洞)
녹산동(菉山洞)
신계동(新契洞)
사당동(舍堂洞)
대청동(大廳洞)
개금제2동(開琴第2洞)
압구정동(狎鷗亭洞)
효자동(孝子洞)
감천제2동(甘川第2洞)
보문동1가(普門洞1街)
용호제3동(龍湖第3洞)
평동(平洞)
서대신제1동(西大新第1洞)
무악동(毋岳洞)
초량제6동(草梁第6洞)
동선동2가(東仙洞街)
서제3동(書第3洞)
남천제1동(南川第1洞)
을지로4가(乙支路4街)
신선동(新仙洞)
계동(桂洞)
중제1동(中第1洞)
갈현동(葛峴洞)
괴정제2동(槐亭第2洞)
초장동(草場洞)
홍익동(弘益洞)
창성동(昌成洞)
당리동(堂里洞)
주례제2동(周禮第2洞)
원효로2가(元曉路2街)
마포동(麻浦洞)
공릉동(孔陵洞)
초읍동(草邑洞)
자곡동(紫谷洞)
문래동1가(文來洞1街)
남천제2동(南川第2洞)
예지동(禮智洞)
인현동
성수동1가(聖水洞1街)
범일제5동(凡一第5洞)
수정제4동(水晶第4洞)
안락제2동(安樂第2洞)
서교동(西橋洞)
문배동(文培洞)
좌제3동(佐第3洞)
명동1가(明洞1街)
저동1가(苧洞1街)
태평로1가(太平路1街)
종암동(鍾岩洞)
보문동3가(普門洞3街)
회현동2가(會賢洞1街)
역삼동(驛三洞)
서대신제4동(西大新第4洞)
충무로5가(忠武路5街)
서제2동(書第2洞)
청파동
봉익동(鳳翼洞)
혜화동(惠化洞)
행촌동(杏村洞)
만리동2가(萬里洞2街)
엄궁동(嚴弓洞)
서초동(瑞草洞)
덕천제3동(德川第3洞)
장지동(長旨洞)
동대신제3동(東大新第3洞)
예관동(藝館洞)
사직제1동(社稷第1洞)
공덕동(孔德洞)
영동포동1가(永登浦洞1街)
반여제2동(盤如第2洞)
인헌동1가(仁峴洞1街)
청암동(淸岩洞)
노고산동(老姑山洞)
통인동(通仁洞)
내자동(內資洞)
부민동(富民洞)
순화동(巡和洞)
누상동(樓上洞)
신천동(新川洞)
동삼제2동(東三第2洞)
공평동(公平洞)
문현제4동(門峴第4洞)
망미제1동(望美第1洞)
방화동(傍花洞)
원효로3가(元曉路3街)
현석동(玄石洞)
상수동(上水洞)
염창동(鹽倉洞)
동선동3가(東仙洞3街)
자양동(紫陽洞)
신문로1.2가(新門路1.2街)
장림제2동(長林第2洞)
만덕제2동(萬德第2洞)
오곡동(五谷洞)
체부동(體府洞)
청룡노포동(靑龍老圃洞)
옥인동(玉仁洞)
대연제1동(大淵第1洞)
문래동6가(文來洞6街)
구포제3동(龜浦第3洞)
반여제1동(盤如第1洞)
하단제1동(下端第1洞)
중제2동(中第2洞)
영선제2동(瀛仙第2洞)
충정로1가(忠武路1街)
영주제1동(瀛州第1洞)
연희동(延禧洞)
부곡제3동(釜谷第3洞)
논현동(論峴洞)
도원동(桃園洞)
용산동3가(龍山洞3街)
안락제1동(安樂第1洞)
홍파동(紅把洞)
합동(蛤洞)
중곡동(中谷洞)
하단제2동(下端第2洞)
상월곡동(上月谷洞)
봉원동(奉元洞)
응봉동(鷹峯洞)
연산제2동(蓮山第2洞)
미근동(渼芹洞)
광안제2동(廣安第2洞)
홍제동(弘濟洞)
거제제3동(巨堤第3洞)
명륜동(明倫洞)
충정로3가(忠正路3街)
홍은동(弘恩洞)
청량리동(淸凉里洞)
신촌동(新村洞)
모라제1동(毛羅第1洞)
을지로6가(乙支路6街)
봉천동(奉天洞)
방배동(方背洞)
부암동(付岩洞)
낙원동(樂園洞)
초량제3동(草梁第3洞)
동소문동7가(東小門洞7街)
원남동(苑南洞)
범일제1동(凡一第1洞)
필운동(弼雲洞)
과해동(果海洞)
문정동(文井洞)
종로4가(鐘路4街)
저동2가(苧洞2街)
산림동(山林洞)
휘경동(徽慶洞)
창동(倉洞)
가양동(加陽洞)
부곡제1동(釜谷第1洞)
남부민제1동(南富民1洞)
가락동(可樂洞)
통의동(通義洞)
한남동(漢南洞)
익선동(益善洞)
을지로3가(乙支路3街)
충무동(忠武洞)
필동1가(筆洞1街)
삼선동1가(三仙洞1街)
안암동5가(安岩洞5街)
서동
남창동(南倉洞)
길동(吉洞)
을지로1가(乙支路1街)
구산동(龜山洞)
증산동(繒山洞)
연산제1동(蓮山第1洞)
팔판동(八判洞)
낙민동
화명제3동(華明第3洞)
대신동(大新洞)
서빙고동(西氷庫洞)
성북동(城北洞)
동선동5가(東仙洞5街)
신공덕동(新孔德洞)
하월곡동(下月谷洞)
만덕제3동(萬德第3洞)
내곡동(內谷洞)
화양동(華陽洞)
남산동(南山洞)
금곡동(金谷洞)
신원동(新院洞)
안암동4가(安岩洞4街)
동소문동3가(東小門洞3街)
구포제2동(龜浦第2洞)
망미제2동(望美第2洞)
동선동1가(東仙洞1街)
효제동(孝悌洞)
답십리동(踏十里洞)
도화동(桃花洞)
용호제1동(龍湖第1洞)
묘동(廟洞)
청담동(淸潭洞)
충무로1가(忠武路1街)
부곡제2동(釜谷第2洞)
우제3동(佑第3洞)
삼각동(三角洞)
가회동(嘉會洞)
암사동(岩寺洞)
온수동(溫水洞)
진관동(津寬洞)
면목동(面牧洞)
용두동(龍頭洞)
방산동(芳山洞)
금호동1가(金湖洞1街)
복산동(福山洞)
장림제1동(長林第1洞)
신내동(新內洞)
상도동(上道洞)
대방동(大方洞)
청학제2동(靑鶴第2洞)
동소문동1가(東小門洞1街)
장위동
이문동(里門洞)
명일동(明逸洞)
월계동(月溪洞)
우이동(牛耳洞)
문현제2동(門峴第2洞)
당감제2동(堂甘第2)
양화동(楊花洞)
회현동2가(會賢洞2街)
보문동6가(普門洞6街)
역촌동(驛村洞)
성북동1가(城北洞1街)
당감제1동(堂甘第1洞)
동교동(東橋洞)
인헌동2가(仁峴洞2街)
부암제3동(釜岩第3洞)
남현동(南峴洞)
중앙동(中央洞)
우동
우암동(牛岩洞)
토성동
장사동(長沙洞)
범천제2동(凡川第2洞)
장전제1동(長箭第1洞)
중림동(中林洞)
무교동(武橋洞)
원지동(院趾洞)
명륜1가(明倫1街)
우면동(牛眠洞)
장충동2가(奬忠洞2街)
원서동(苑西洞)
양평동2가(楊坪洞2街)
우제1동(佑第1洞)
도렴동(都染洞)
부전제1동(釜田第1洞)
항동(航洞)
충정로2가(忠正路2街)
하계동(下溪洞)
암남동(岩南洞)
남산동3가(南山洞3街)
이태원동(梨泰院洞)
당산동2가(堂山洞2街)
장안읍(長安邑)
숭인동(崇仁洞)
도림동(道林洞)
연산제4동(蓮山第4洞)
충정로1가(忠正路1街)
한강로2가(漢江路2街)
신창동(新倉洞)
전농동(典農洞)
금호동4가(金湖洞4街)
상계동(上溪洞)
도곡동(道谷洞)
권농동(勸農洞)
주례제3동(周禮第3洞)
좌제1동(佐第1洞)
감만제2동(勘蠻第2洞)
구서제2동(久瑞第2洞)
등촌동(登村洞)
오쇠동(五釗洞)
원효로4가(元曉路4街)
주성동
온천제2동(溫川第2洞)
수정제1동(水晶第1洞)
당주동(唐珠洞)
남학동(南學洞)
서제1동(書第1洞)
방이동(芳荑洞)
영선제1동(瀛仙第1洞)
사직제3동(社稷第3洞)
문래동3가(文來洞3街)
의주로2가(義州路2街)
마곡동(麻谷洞)
덕포제2동(德浦第2洞)
보광동(普光洞)
냉천동(冷泉洞)
송현동(松峴洞)
산천동(山泉洞)
둔촌동(遁村洞)
종로1가(鐘路1街)
덕천제1동(德川第1洞)
서소문동(西小門洞)
충신동(忠信洞)
길음동(吉音洞)
응암동(鷹岩洞)
율현동(栗峴洞)
방학동(放鶴洞)
남항동(南港洞)
연산제8동(蓮山第8洞)
end

In [58]:
train = train.merge(park_df, 'left', on=['city','gu'])
train = train.merge(day_care_df, 'left', on=['city','gu'])

test = test.merge(park_df, 'left', on=['city','gu'])
test = test.merge(day_care_df, 'left', on=['city','gu'])

need to find gu info in day_care_center
need to group by day_care_center, and park datasets into train/test.

In [59]:
# one-hot encodings
train = pd.get_dummies(train, columns=['city','dong','year_of_completion',
                                       'transaction_year','transaction_month','transaction_date'])
print(train.shape)

test = pd.get_dummies(test, columns=['city','dong','year_of_completion',
                                     'transaction_year','transaction_month','transaction_date'])
print(test.shape)

(7684402, 560)
(36678, 465)

errors found in the merging stage